  <form method="post" action="{% url 'blog:create_post' %}">
    {% csrf_token %}
    <div class="input-field col s12">
      <input id="title" name="title" type="text" class="validate" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
      <label for="title">Title</label>
    </div>
    <div class="input-field col s12">
      <textarea id="text" name="text" class="materialize-textarea">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
      <label for="text">Your text</label>
    </div>
    <div class="input-field col s12">
      <input id="tags" name="tags" type="text" class="validate" value="{{ form_tags }}">
      <label for="tags">#Tags</label>
    </div>
    <button class="btn waves-effect waves-light"
            type="submit"
            name="action">
      Post <i class="material-icons right">send</i>
    </button>
  </form>
