<div class="blog-post">
    <div>
        <h4 class="title">
            {{ title }}
        </h4>
    </div>
    <div>
    by <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
    </div>
    <div class="post-content">
        <div>{{ text }}</div>
    </div>
    <div class="post-tags">
        {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}">#{{ tag.text }}</a>
        {% endfor %}
    </div>
</div>
