{% extends 'base.html' %}

{% block content %}
<div class="col l3">
  Bacn is an open source, decentralized social platform for blogging.  Currently the project is in the planning stage.
</div>
<div id="viewport" class="col l6">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum massa dolor, vel rhoncus justo finibus nec. Integer quis metus sem. Ut a cursus nibh, vel luctus metus. Fusce id eros fermentum, congue nibh eu, tincidunt justo. Sed auctor posuere hendrerit. Donec in felis purus. Nullam non auctor ex. Quisque luctus ipsum at orci mattis, nec laoreet nisi porttitor. Sed diam dui, condimentum vitae diam et, varius euismod ex. Aenean sit amet ultrices dolor.
  <p>
  </p>
    Ut interdum eget diam ut consectetur. Maecenas blandit sed est a ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla id metus dapibus, rhoncus augue vitae, volutpat risus. Aenean quis scelerisque nisl, ac rhoncus nisl. Phasellus ac erat ut ipsum maximus porta sit amet ac nulla. Aenean efficitur purus sed enim fringilla blandit. Suspendisse ut sapien elit. Nulla cursus, lorem vel interdum ornare, ex massa porta nulla, pellentesque eleifend neque ligula non augue.
  <p>
  </p>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ligula ex, feugiat eu maximus at, maximus ac tortor. Suspendisse malesuada dapibus tellus nec tincidunt. Sed placerat sodales erat, at lacinia odio laoreet nec. Integer mi mi, ullamcorper id tincidunt vel, volutpat sed dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam velit mi, ullamcorper a erat in, sollicitudin rhoncus tortor. Nam tempor tincidunt lacinia. Proin at neque ac enim ullamcorper tempor id eget risus. Donec laoreet laoreet enim, nec dignissim neque malesuada sit amet. Curabitur hendrerit magna risus. Ut tortor justo, bibendum vitae dignissim in, rutrum at quam. In erat purus, tempor porta scelerisque nec, egestas quis tellus.
  <p>
  </p>
    Quisque maximus purus eget enim dapibus aliquam. Donec leo augue, euismod elementum egestas vel, vestibulum ut quam. Phasellus ac venenatis metus. Vestibulum auctor suscipit eros, ac lacinia magna euismod non. Aliquam iaculis vestibulum tempus. Ut feugiat aliquam mauris, non semper metus imperdiet ut. Fusce sit amet elit et dui auctor auctor sit amet vitae leo. Etiam vel nisi in lectus hendrerit facilisis nec nec tellus. Nullam eget condimentum nisi.
  <p>
  </p>
    Aenean blandit massa quis odio iaculis, non placerat nunc malesuada. Maecenas id porttitor mi. Aenean venenatis, dui id tincidunt dignissim, urna justo tincidunt mauris, et pretium diam justo sit amet dolor. Vestibulum eu aliquam massa. Proin ullamcorper dictum vestibulum. Suspendisse tempor, eros et vulputate eleifend, purus mauris venenatis magna, id porta eros lacus vulputate enim. Proin convallis mattis aliquet. Aliquam laoreet turpis hendrerit tortor placerat, a fringilla justo cursus. Fusce neque nibh, luctus ut interdum ac, ullamcorper tristique risus. Aliquam suscipit sem nisi, sit amet euismod velit molestie et. Nullam ultrices varius ornare. Phasellus consectetur, nisl vel viverra elementum, sapien dolor pulvinar lorem, id lacinia risus metus eu purus. Fusce ut lacinia massa.
  </p>
</div>
{% endblock content %}
