{% extends 'base.html' %}

{% block content %}
<h3>People</h3>
{% for person in people %}
  <a href="{{ person.get_absolute_url }}">{{ person }}</a><br />
{% endfor %}
<h3>Tags</h3>
{% for tag in tags %}
  <a href="{{ tag.get_absolute_url }}">#{{ tag.text }}</a>
{% endfor %}
<br />
<h3>Posts</h3>
{% for post in posts %}
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a> by <a href="{{ post.user.get_absolute_url }}">{{ post.user }}</a><br />
{% endfor %}
{% endblock content %}
