{% extends 'base.html' %}

{% block head_content %}
<style>
  .collection {
    border: none;
  }
</style>
{% endblock head_content %}

{% block content %}
<div id="viewport" class="col m7 xl6 offset-m1 offset-xl3">
  <form id="settings-form" action="" method="post">
    {% csrf_token %}
    <ul class="collection">
      <li class="collection-item transparent">
        <div class="row">
          <div class="col m3">
            email:
          </div>
          <div class="input-field col m9">
            {{ form.email }}
            <label for="id_email">Email</label>
          </div>
        </div>
      </li>
      <li class="collection-item transparent">
        <div class="row">
          <div class="col m3">
            Password:
          </div>
          <div class="col m9">
            <div class="input-field">
              {{ form.password }}
              <label for="id_password">Current Password</label>
            </div>
            <div class="input-field">
              {{ form.password }}
              <label for="id_new_password">New Password</label>
            </div>
            <div class="input-field">
              {{ form.password }}
              <label for="id_verify_password">Verify Password</label>
            </div>
          </div>
      </li>
    </ul>
    <button class="btn right" type="submit" name="action">Save
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
{% endblock content %}
