.blog-post {
  margin-top: 2rem;
  background: #333d;
  border-radius: .5rem;
  box-shadow: 0 0 1rem -.3rem #000;
}

.blog-post > div {
  padding:.5rem;
}

.blog-post .title {
  margin: 0
}

.blog-post .post-tags {
  background: #0001;
}

.blog-post .post-content {
  background: #0005;
  margin-bottom: 1rem;
  box-shadow: inset .1rem .1rem .5rem 0rem #0005;
}
