{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/social_providors.css' %}">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% block head_content %}{% endblock head_content %}
    </head>

    <body>
      <div class="row">
	    {% if not user.is_authenticated %}
          {% include 'guest_nav.html' %}
	    {% else %}
          {% include 'authenticated_nav.html' %}
	    {% endif %}
      </div>
      <div class="row">
{% block content %}
{% endblock content %}
      </div>
      {% include 'blog/forms/text_post_modal.html' %}
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static 'js/bacn.js' %}"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var dropdown_elems = document.querySelectorAll('.dropdown-trigger');
          var instances = M.Dropdown.init(dropdown_elems);
          var modal_elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(modal_elems);
        });
      </script>
    </body>
  </html>
