        <nav class="transparent col s12">
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">
              <svg viewBox="0 0 84 32" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" stroke-linecap="round"
                   height="42" preserveAspectRatio="xMidYMid meet"
                   style="margin-bottom: -4px;">
                <clipPath id="BacnBox">
                  <rect x="6" y="4.5" width="8" height="23" />
                </clipPath>
                <g style="fill-opacity: 0;" stroke="#7D5256" stroke-width="2">
                  <path d="M12 5.5l5 0c8 0,8 10,0 10l-4 0m5 0c9 0,9 11,0 11l-5 0" />
                  <path d="M9 4.5c2 5,2 7,1 11s-1 7,1 12" stroke="#F88" clip-path="url(#BacnBox)" />
                  <path d="M7 4.5c2 5,2 7,1 11s-1 7,1 12m2 -23c2 5,2 7,1 11s-1 7,1 12" clip-path="url(#BacnBox)" />
                  <path d="M31.5 13.2c6.5 -2,10.1 -1,9.8 6l0 7.5m0 -7.5c-5.5 0,-10 0,-10 4c0 4,5 5,10 1" />
                  <path d="M59 13c-4.5 -2,-10 -1,-10.5 6c0 7,4 9,10.5 6.8" />
                  <path d="M65.2 12l0 14.5m0 -12c6 -4.5,10.5 -2,11 2l0 10" />
                </g>
              </svg>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down btn-group">
                  <li><a href="{% url 'account_login' %}" class="waves-effect waves-light btn-small">Login</a></li>
                  <li><a href="{% url 'account_signup' %}" class="waves-effect waves-light btn-small">Register</a></li>
            </ul>
          </div>
        </nav>
